// Find Mentors
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 700;
 word-wrap: break-word
---
// Become A Mentor
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 700;
 word-wrap: break-word
---
// About Us
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Terms of Service
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Return, Refund and Cancellations
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Privacy Policy
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// © 2024 Connectop. All Rights Reserved.
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// For any queries/issues contact: 
color: #C53183;
 font-size: 27px;
 font-family: Product Sans Medium;
 font-weight: 500;
 word-wrap: break-word
---
// Contact: +91-8527359831 
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Email: connectop.abroad@gmail.com
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word
---
// Address: Delhi Technological University, Bawana Road, Shahbad Daulatpur Village, Rohini, Delhi 110042
color: black;
 font-size: 20px;
 font-family: Product Sans;
 font-weight: 400;
 word-wrap: break-word